name: 'Build'

on:
  push:
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-node@v3
        with:
          node-version: 14

      - name: Build
        run: |
          npm install
          npm run build

      - name: Archive built file
        uses: actions/upload-artifact@v3
        with:
          name: lg-remote-control
          path: dist/lg-remote-control.js
